In [1]:
import pandas as pd
from pathlib import Path

In [2]:
BRONZE_DIR = Path('../../data/bronze/new')

In [3]:
temperature_df = pd.read_csv(BRONZE_DIR / 'temperature_schwartau.csv')

In [4]:
temperature_df

                  timestamp  temperature
0       2017-01-01 14:10:00          NaN
1       2017-01-01 14:15:00        12.34
2       2017-01-01 14:20:00        12.27
3       2017-01-01 14:25:00        12.28
4       2017-01-01 14:30:00        12.36
...                     ...          ...
253425  2019-05-31 13:55:00        34.71
253426  2019-05-31 14:00:00        34.70
253427  2019-05-31 14:05:00        34.60
253428  2019-05-31 14:10:00        34.55
253429  2019-05-31 14:15:00        34.57

[253430 rows x 2 columns]

In [8]:
temperature_df['temperature'].isna

<bound method Series.isna of 0           NaN
1         12.34
2         12.27
3         12.28
4         12.36
          ...
253425    34.71
253426    34.70
253427    34.60
253428    34.55
253429    34.57
Name: temperature, Length: 253430, dtype: float64>