In [2]:
import pandas as pd
from pathlib import Path

In [5]:
BRONZE_DIR = Path('../../data/bronze/new')

In [6]:
flow_df = pd.read_csv(BRONZE_DIR / 'flow_schwartau.csv')

In [7]:
flow_df

                   timestamp  flow
0        2017-01-01 14:15:00     0
1        2017-01-01 14:16:00     0
2        2017-01-01 14:17:00     0
3        2017-01-01 14:18:00     0
4        2017-01-01 14:19:00     0
...                      ...   ...
2513831  2019-05-31 14:11:00   128
2513832  2019-05-31 14:12:00   140
2513833  2019-05-31 14:13:00   144
2513834  2019-05-31 14:14:00   146
2513835  2019-05-31 14:15:00   164

[2513836 rows x 2 columns]

In [8]:
flow_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2513836 entries, 0 to 2513835
Data columns (total 2 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  object
 1   flow       int64
dtypes: int64(1), object(1)
memory usage: 38.4+ MB