In [2]:
import pandas as pd
from pathlib import Path

In [3]:
BRONZE_DIR = Path('../../data/bronze/new')

In [4]:
humidity_df = pd.read_csv(BRONZE_DIR / 'humidity_schwartau.csv')

In [5]:
humidity_df

                timestamp  humidity
0     2017-01-01 13:00:00     98.04
1     2017-01-02 01:00:00     98.61
2     2017-01-02 13:00:00     99.00
3     2017-01-03 01:00:00     98.49
4     2017-01-03 13:00:00     98.32
...                   ...       ...
1756  2019-05-29 14:00:00     92.87
1757  2019-05-30 02:00:00     94.77
1758  2019-05-30 14:00:00     94.90
1759  2019-05-31 02:00:00     95.84
1760  2019-05-31 14:00:00     92.79

[1761 rows x 2 columns]

In [6]:
humidity_df.loc[humidity_df['humidity'] < 0]

               timestamp  humidity
51   2017-01-27 01:00:00   -100.00
52   2017-01-27 13:00:00    -82.25
65   2017-02-03 01:00:00   -100.00
66   2017-02-03 13:00:00   -100.00
67   2017-02-04 01:00:00   -100.00
68   2017-02-04 13:00:00   -100.00
69   2017-02-05 01:00:00   -100.00
70   2017-02-05 13:00:00   -100.00
71   2017-02-06 01:00:00   -100.00
72   2017-02-06 13:00:00   -100.00
73   2017-02-07 01:00:00   -100.00
74   2017-02-07 13:00:00   -100.00
75   2017-02-08 01:00:00   -100.00
76   2017-02-08 13:00:00   -100.00
77   2017-02-09 01:00:00   -100.00
78   2017-02-09 13:00:00   -100.00
79   2017-02-10 01:00:00    -62.42
80   2017-02-10 13:00:00    -98.45
81   2017-02-11 01:00:00    -11.19
493  2017-09-05 02:00:00    -33.33
494  2017-09-05 14:00:00    -94.92
505  2017-09-11 02:00:00    -48.10
532  2017-09-24 14:00:00    -52.25
533  2017-09-25 02:00:00    -93.45
534  2017-09-25 14:00:00    -97.95
535  2017-09-26 02:00:00   -100.00
536  2017-09-26 14:00:00   -100.00
537  2017-09-27 02:00:00    -15.61
538  2017-09-27 14:00:00    -75.84
539  2017-09-28 02:00:00    -99.72
971  2018-05-02 02:00:00   -100.00

In [8]:
humidity_df.loc[humidity_df['humidity'] >= 0].describe()

          humidity
count  1718.000000
mean     87.054814
std      13.112924
min      15.460000
25%      80.732500
50%      91.180000
75%      96.737500
max     100.000000

In [9]:
humidity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1761 entries, 0 to 1760
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  1761 non-null   object
 1   humidity   1749 non-null   float64
dtypes: float64(1), object(1)
memory usage: 27.6+ KB

In [14]:
humidity_df.loc[humidity_df['humidity'].isna()]

                timestamp  humidity
378   2017-07-09 14:00:00       NaN
379   2017-07-10 02:00:00       NaN
380   2017-07-10 14:00:00       NaN
381   2017-07-11 02:00:00       NaN
382   2017-07-11 14:00:00       NaN
383   2017-07-12 02:00:00       NaN
384   2017-07-12 14:00:00       NaN
385   2017-07-13 02:00:00       NaN
386   2017-07-13 14:00:00       NaN
387   2017-07-14 02:00:00       NaN
1593  2019-03-09 01:00:00       NaN
1594  2019-03-09 13:00:00       NaN