In [2]:
import pandas as pd
from pathlib import Path

In [3]:
BRONZE_DIR = Path('../../data/bronze/new')

In [4]:
humidity_df = pd.read_csv(BRONZE_DIR / 'humidity_schwartau.csv')

In [5]:
humidity_df

                timestamp  humidity
0     2017-01-01 13:00:00     98.04
1     2017-01-02 01:00:00     98.61
2     2017-01-02 13:00:00     99.00
3     2017-01-03 01:00:00     98.49
4     2017-01-03 13:00:00     98.32
...                   ...       ...
1756  2019-05-29 14:00:00     92.87
1757  2019-05-30 02:00:00     94.77
1758  2019-05-30 14:00:00     94.90
1759  2019-05-31 02:00:00     95.84
1760  2019-05-31 14:00:00     92.79

[1761 rows x 2 columns]