In [1]:
import pandas as pd
from pathlib import Path

In [2]:
BRONZE_DIR = Path('../../data/bronze/new')

In [3]:
weight_df = pd.read_csv(BRONZE_DIR / 'weight_schwartau.csv')

In [4]:
weight_df

                timestamp        weight
0     2017-01-01 13:00:00  50736.790078
1     2017-01-02 01:00:00  50700.685000
2     2017-01-02 13:00:00  50614.907500
3     2017-01-03 01:00:00  50739.824167
4     2017-01-03 13:00:00  50799.746944
...                   ...           ...
1756  2019-05-29 14:00:00  74938.619028
1757  2019-05-30 02:00:00  74587.528333
1758  2019-05-30 14:00:00  75265.285694
1759  2019-05-31 02:00:00  75129.853611
1760  2019-05-31 14:00:00  74620.431250

[1761 rows x 2 columns]